# Configuración de Conexión a Supabase para el Proyecto banos-quimicos
SUPABASE_PROJECT_ID=wqrybklmfjbgxmsnpyqn
SUPABASE_REGION=sa-east-1
SUPABASE_URL=https://wqrybklmfjbgxmsnpyqn.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_bLuI4AaAuYKChw-WxSMDFQ_pXXUxHP3
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indxcnlia2xtZmpiZ3htc25weXFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY0OTI2MDAsImV4cCI6MjEwMjA2ODYwMH0.hYSDoO-FWVOAwvzWtYsDdYPnA42C1ZjV_wGlpRt5oKs
