# Configuración Backend NestJS - Conexión Supabase PostgreSQL
PORT=3000
NODE_ENV=development

# URL de Conexión a la base de datos Supabase del proyecto banos-quimicos
# Reemplaza [TU-PASSWORD-POSTGRES] por la contraseña definida en tu proyecto de Supabase
DATABASE_URL=postgres://postgres.wqrybklmfjbgxmsnpyqn:[TU-PASSWORD-POSTGRES]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres
DB_SSL=true

# Clave Secreta JWT
JWT_SECRET=super_secret_jwt_key_faenas_mineras_2026

# Supabase API Keys
SUPABASE_URL=https://wqrybklmfjbgxmsnpyqn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indxcnlia2xtZmpiZ3htc25weXFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY0OTI2MDAsImV4cCI6MjEwMjA2ODYwMH0.hYSDoO-FWVOAwvzWtYsDdYPnA42C1ZjV_wGlpRt5oKs
